<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta name="keywords" content="房直租">
	<meta name="description" content="房直租">
	<meta http-equiv="Cache-Control" content="no-transform" />
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<meta name="wap-font-scale"  content="no" />
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="format-detection"content="telephone=no"/>
	<script src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script src="../bower_components/react/react.min.js"></script>
	<script src="../bower_components/react/react-dom.min.js"></script> 
	<script src="../bower_components/Swiper/dist/js/swiper.jquery.min.js"></script>
	<link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="../bower_components/Swiper/dist/css/swiper.min.css" />
	<link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
 